.main-nav {
    padding-left: 20px;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-logo-text, .nav-logo-text:hover {
    color: #00285F;
}

.main-menu {
    display: flex;
    margin: 0 !important;
    font-size: 18px;
    width: 200px;
    justify-content: space-around;
}

.main-menu a:hover {
    color:#FFF;
}

.main-menu a.active {
    color: #FFF;
    font-weight: bold;
}